.search_more {
    /* margin-top: 2 !important; */
    margin-top: 3px;
}

.form-control {
    box-shadow: none !important;
}

.search_more:hover {
    width: 90px;
    background-color: blue;
    transition: ease-in-out 0.3s;
}

#issues {
    background-color: blanchedalmond;
}

.project-info {
    letter-spacing: 2px;
}

.myform {
    padding: 2px;
}

.card-header {
    color: black;
}
